@charset "UTF-8";

:root {
    --gradiente: to top, #1A5C38, #25824F, #37C878;
    --titlebg: to right, #5F9477, #90B7A2, #F5FBF8;
    --bordastop: 10px 10px 0px 0px;
    --bordasbot: 0px 0px 10px 10px;
}

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-attachment: fixed;
    background-color: #84E1AD;
    margin: 0px;
}

h2 {
    color: #246240;
    font-family: idroid, Arial, Helvetica, sans-serif;
}

h3 {
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    background-color: #2FA866;
}

p {
    text-indent: 30px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #e90000d2;
    padding: 2px 6px;
}

a.externo::after {
    content: '\00A0\1F517';
}

a:hover {
    text-decoration: underline;
    color: red;
}

header {
    text-align: center;
    background-image: linear-gradient(var(--gradiente));
    padding: 5px;
    margin: 0px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.534);
}

header > h1 {
    color: white;
}

header > h2 {
    color: white;
}

header > p {
    font: normal 100 1.1em arial, helvetica, sans-serif;
    margin: 15px;
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
}

header > nav {
    text-align: left;
}


nav > a {
    font: normal bold 16px arial, helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    transition-duration: .25s;
}

nav > a:hover {
    background-color: #21c069;
    border-radius: 5px;
}

main {
    max-width: 950px;
    min-width: 250px;
    margin: 0px auto auto auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 11px rgb(0 0 0 / 53%);
    border-radius: var(--bordasbot);
}

article > h1 {
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: #246240;
}

article a {
    background-color: rgba(150, 60, 60, 0.315);
}

.subtitulos {
    background-image: linear-gradient(var(--titlebg));
    color: #246240;
    padding: 10px;
    font-family: idroid, Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.picture {
    text-align: center;
}

img {
    width: 100%;
}

#bugdroid {
    max-width: 350px;
}

#video {
    text-align: center;
    background-color: #1A5C38;
    padding: 10px 40px;
}

aside {
    box-shadow: 3px 3px 8px black;
    border-radius: var(--bordasbot);
    padding: 10px;
}

aside > h2 {
    background-color: #2FA866;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: var(--bordastop);
}

#versoesandroid {
    background-color: #C5EBD6;
    padding: 10px;
    border-radius: var(--bordasbot);
}

#versoesandroid > ul {
    columns: 2;
}

footer {
    background-color: #1A5C38;
    text-align: center;
    color: white;
    padding: 5px;
    margin-top: 20px;
}

footer > p {
    margin: 0px;
    text-align: center;
}

footer a {
    font-weight: bold;
    background-color: #1A5C38;
}

footer a:hover {
    border-radius: 5px;
    background-color: black;
}